In [1]:
import MySQLdb

# Open database connection
#db = MySQLdb.connect("127.0.0.1","testuser","test123","TESTDB" )
db = MySQLdb.Connect(host="localhost", port=1521, user="testuser", passwd="test123", db="TESTDB")


# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data

# disconnect from server
db.close()

OperationalError: (2013, "Lost connection to MySQL server at 'waiting for initial communication packet', system error: 0")

In [10]:
import cx_Oracle

# Connect as user "hr" with password "welcome" to the "oraclepdb" service running on this computer.
connection = cx_Oracle.connect("testuser", "test123", "localhost:1521/xe")
#db = MySQLdb.Connect(host="localhost", port=1521, user="testuser", passwd="test123", db="TESTDB")


cursor = connection.cursor()
cursor.execute("SELECT * FROM employee")
for fname in cursor:
    print("Values:", fname)
    



try:
       #cursor.execute("Insert into EMPLOYEE values ('Tushar', 'Sonawane', 25, 'Male', 45000)")
       
   # Commit your changes in the database
       connection.commit()
except:
   # Rollback in case there is any error
       connection.rollback()

'''


cursor.execute("SELECT * FROM employee")
for fname in cursor:
    print("Values:", fname)
    
'''

('Values:', ('Amit', 'Prajapati', 25, 'Male', 25000))
('Values:', ('Mac', 'Mohan', 20, 'M', 2000))
('Values:', ('Mac', 'Mohan', 20, 'M', 2000))
('Values:', ('Monika', 'Khatri', 24, 'Female', 80000))
('Values:', ('Tushar', 'Sonawane', 25, 'Male', 45000))

'\n\n\ncursor.execute("SELECT * FROM employee")\nfor fname in cursor:\n    print("Values:", fname)\n    \n'

In [3]:
import cx_Oracle

# Connect as user "hr" with password "welcome" to the "oraclepdb" service running on this computer.
connection = cx_Oracle.connect("testuser", "test123", "localhost:1521/xe")
#db = MySQLdb.Connect(host="localhost", port=1521, user="testuser", passwd="test123", db="TESTDB")


# prepare a cursor object using cursor() method
cursor = connection.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Monika', 'Khatri', 24, 'Female', 80000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   connection.commit()
except:
   # Rollback in case there is any error
   connection.rollback()
    
    
cursor.execute("SELECT * FROM employee")
for fname in cursor:
    print("Values:", fname)

# disconnect from server
#connection.close()

('Values:', ('Amit', 'Prajapati', 25, 'Male', 25000))
('Values:', ('Mac', 'Mohan', 20, 'M', 2000))
('Values:', ('Mac', 'Mohan', 20, 'M', 2000))
('Values:', ('Monika', 'Khatri', 24, 'Female', 80000))